@import "reset.css";
@import "animations.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&family=Ubuntu:wght@400;500;700&display=swap");

/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Ubuntu', sans-serif;
*/

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #ffffff;
  --blue: #1376c7;
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--blue);
  --dark-mode-btn-transition: none;
  --color-transition: none;
  --page-bg: var(--white);
  --text-color: var(--black);
  --title-1: var(--accent);
  --title-2: var(--black);
  --btn-outline: var(--black);
  --btn-outline-bg: var(--white);
  --box-shadow: 0rem 0.3125rem 2.1875rem 0rem rgba(0, 0, 0, 0.25);
}

.dark {
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--accent);
  --title-2: var(--white);
  --btn-outline: var(--white);
  --btn-outline-bg: var(--black);
  --box-shadow: 0rem 0.3125rem 2.1875rem 0rem rgba(0, 0, 0, 0.8);
}

.color-scheme--transition {
  --color-transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: var(--color-transition);
  background-color: var(--page-bg);
  font-size: medium;
  font-family: "Ubuntu", sans-serif;
  color: var(--text-color);
  letter-spacing: -0.0313rem;
}

a {
  color: var(--accent);
}

/* General */

.section {
  padding: 4.375rem 0;
}

.container {
  width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.title-1 {
  margin-bottom: 3.75rem;
  transition: var(--color-transition);
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 1.25rem;
  transition: var(--color-transition);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-2);
}

.none {
  display: none !important;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 7vh;
  padding: 1.25rem 0;
  background-color: var(--dark-bg);
  border-bottom: 0.0625rem solid var(--dark-border);
  color: var(--header-text);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  row-gap: 1.25rem;
  column-gap: 1.875rem;
}

.logo {
  margin-right: auto;
  font-size: 1.5rem;
  font-family: "JetBrains Mono", monospace;
  color: var(--header-text);
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.9375rem;
  column-gap: 2.5rem;
  font-size: 1rem;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

.nav-list__link {
  color: var(--header-text);
}

.nav-list__link:hover {
  transition: color 0.2s ease-in;
  color: var(--accent);
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--accent);
}

/* Dark mode btn */

.dark-mode-btn {
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  order: 9;
  position: relative;
  width: 3.1875rem;
  height: 1.625rem;
  padding: 0.3125rem;
  background-color: #272727;
  cursor: pointer;
  border: 0;
  border-radius: 1.875rem;
}

.dark-mode-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.0625rem;
  left: 0.0625rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: var(--dark-mode-btn-transition);
  background-color: var(--white);
  border-radius: 50%;
}

.dark-mode-btn--transition {
  --dark-mode-btn-transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 1.625rem;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 93vh;
  min-height: 43.4375rem;
  padding: 2.5rem 0;
  animation: bg-animation 30s 3s infinite ease-in-out;
  background-color: var(--dark-bg);
  background-image: url("../assets/images/common/circuit-board.svg");
  background-repeat: repeat;
  background-position: center center;
  background-size: 20rem;
  color: var(--header-text);
  text-align: center;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 44.375rem;
  padding: 0 0.9375rem;
}

.header__title {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.header__title strong {
  font-size: 3.75rem;
  font-weight: 700;
}

.header__title em {
  color: var(--accent);
}

.header__text {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.333;
}

.header__text p + p {
  margin-top: 1em;
}

/* Button */

.btn {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s ease-in;
  background-color: var(--accent);
  border-radius: 18.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.0095rem;
}

.btn:hover {
  padding: 0.75rem 1.75rem;
  background-color: var(--white);
  color: var(--accent);
}

.btn:active {
  position: relative;
  top: 0.0625rem;
}

.btn-outline {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s ease-in;
  background-color: var(--btn-outline-bg);
  border: 0.125rem solid var(--btn-outline);
  border-radius: 18.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--btn-outline);
  letter-spacing: 0.0095rem;
}

.btn-outline:hover {
  padding: 0.75rem 1.75rem;
  background-color: var(--btn-outline);
  color: var(--btn-outline-bg);
}

.btn-outline:hover .btn-outline__svg {
  fill: var(--btn-outline-bg);
  transition: all 0.2s ease-in;
}

.btn-outline:active {
  position: relative;
  top: 0.0625rem;
}

.btn-outline__svg {
  fill: var(--btn-outline);
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in;
}

/* Projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.875rem;
  column-gap: 1.875rem;
}

.project {
  box-shadow: 0rem 0.3125rem 2.1875rem 0rem rgba(0, 0, 0, 0.25);
  max-width: 23.125rem;
  transition: var(--color-transition);
  background-color: var(--page-bg);
  border-radius: 0.625rem;
}

.project:hover .project__title {
  color: var(--accent);
}

.project__img {
  width: 100%;
  border-radius: 0.625rem;
}

.project__title {
  padding: 0.9375rem 1.25rem 1.5625rem;
  transition: all 0.2s ease-in;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--text-color);
}

/* Project details */

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 54.0625rem;
  margin: 0 auto;
  text-align: center;
}

.project-details__cover {
  box-shadow: 0rem 0.3125rem 2.1875rem 0rem rgba(0, 0, 0, 0.25);
  max-width: 100%;
  margin-bottom: 2.5rem;
  border-radius: 0.625rem;
}

.project-details__desc {
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

/* Content list */

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  max-width: 35.625rem;
  margin: 0 auto;
  text-align: center;
}

.content-list__item {
  font-size: 1.125rem;
  line-height: 1.5;
}

.content-list__item p + p {
  margin-top: 0.5em;
}

/* Footer */

.footer {
  position: relative;
  margin-top: auto;
  padding: 3.75rem 0 3.125rem;
  background-color: var(--dark-bg);
  color: var(--header-text);
}

/* .footer::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6.25rem;
  left: 0;
  width: 100%;
  height: 6.25rem;
  margin-bottom: -6.25rem;
  background-color: var(--dark-bg);
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6875rem;
}
*/

.social {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}

.social__icon {
  width: 2.375rem;
}

.copyright {
  font-size: 1rem;
}

.copyright p + p {
  margin-top: 0.5em;
}

@media (max-width: 67.5rem) {
  .project {
    max-width: 57.5rem;
  }

  .project-details {
    max-width: 62.5rem;
  }

  .btn {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 400;
  }

  .btn:hover {
    padding: 1.5rem 3.375rem;
  }

  .btn-outline {
    padding: 1.5rem 3rem;
    border: 0.25rem solid var(--btn-outline);
    font-size: 2.25rem;
    font-weight: 400;
  }

  .btn-outline:hover {
    padding: 1.5rem 3.375rem;
  }

  .btn-outline__svg {
    fill: var(--btn-outline);
    width: 2.25rem;
    height: 2.25rem;
  }

  .logo {
    font-size: 3rem;
  }

  .nav-list {
    row-gap: 1.25rem;
    font-size: 2.25rem;
  }

  .nav-row {
    justify-content: space-between;
  }

  .header {
    min-height: 50rem;
  }

  .header__wrapper {
    max-width: 57.5rem;
  }

  .header__title {
    font-size: 3.375rem;
  }

  .header__title strong {
    font-size: 4.5rem;
  }

  .header__text {
    font-size: 2.25rem;
  }

  .section {
    box-sizing: border-box;
    height: 100vh;
    padding: 2.5rem 0;
  }

  .title-1 {
    margin-bottom: 0;
    padding-bottom: 1.875rem;
    font-size: 4.5rem;
  }

  .title-2 {
    margin-bottom: 0;
    padding-bottom: 0.625rem;
    font-size: 3.375rem;
  }

  .project__title {
    font-size: 2.625rem;
  }

  .content-list {
    row-gap: 1.25rem;
  }

  .content-list__item {
    font-size: 2.25rem;
  }

  .project-details__desc {
    margin-bottom: 1.875rem;
    font-size: 2.625rem;
  }

  .dark-mode-btn {
    order: 0;
    width: 6.3125rem;
    height: 3.25rem;
  }

  .dark-mode-btn::before {
    width: 3.125rem;
    height: 3.125rem;
  }

  .dark-mode-btn--active::before {
    left: 3.25rem;
  }

  .social {
    column-gap: 2.5rem;
  }

  .social__icon {
    width: 4.5rem;
  }

  .footer {
    padding: 2.5rem 0 1.875rem;
  }

  .footer__wrapper {
    row-gap: 1.25rem;
  }

  .copyright {
    font-size: 2.25rem;
  }
}

@media (max-width: 38.75rem) {
  .nav-row {
    justify-content: space-between;
  }

  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 1.875rem;
  }

  .header__title strong {
    font-size: 2.5rem;
  }

  .section {
    padding: 2.5rem 0;
  }

  .title-1 {
    margin-bottom: 1.875rem;
    font-size: 2.5rem;
  }

  .title-2 {
    margin-bottom: 0.625rem;
    font-size: 1.875rem;
  }

  .project__title {
    font-size: 1.375rem;
  }

  .content-list {
    row-gap: 1.25rem;
  }

  .content-list__item {
    font-size: 1rem;
  }

  .project-details__desc {
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
  }

  .dark-mode-btn {
    order: 0;
  }

  .social {
    column-gap: 1.25rem;
  }

  .social__icon {
    width: 1.75rem;
  }

  .footer {
    padding: 2.5rem 0 1.875rem;
  }

  .footer__wrapper {
    row-gap: 1.25rem;
  }
}
